In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
import pdir as pr
import pandas as pd
import os
from tqdm import tqdm, tnrange, tqdm_notebook

DF = pd.DataFrame
arr = np.array

In [2]:
columnsName = ["C" + str(i) for i in range(14)]
trainSet = pd.read_csv('data\\train.csv',  names = columnsName)
trainSet.shape
trainSet.head(5)

testSet = pd.read_csv('data\\test.csv',  names = columnsName[:-1])
testSet.shape
testSet.head(5)

(48000, 14)

,C0,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13
0,3003,type_C,15,867,204,2961,219,207,120.0,740.0,1.0,3.0,2.665508,1
1,3138,type_D,10,43,2,5583,196,243,187.0,2401.0,1.0,3.0,2.358066,1
2,2789,type_C,13,574,4,1650,234,213,110.0,1021.0,1.0,3.0,2.067060,1
3,2824,type_C,33,336,237,159,29,2260,1.0,0.0,0.0,0.0,2.698755,1
4,3264,type_D,11,515,39,1200,239,226,117.0,2206.0,1.0,3.0,2.513698,1

(12000, 13)

,C0,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12
0,2883,type_C,14,475,71,1718,244,223,106.0,2851.0,1.0,3.0,2.288722
1,2546,type_B,9,31,2,1457,218,223,142.0,1290.0,1.0,3.0,2.053396
2,3178,type_D,15,286,35,2999,230,208,110.0,4503.0,1.0,3.0,2.648367
3,3282,type_D,23,451,116,1679,248,228,96.0,1404.0,1.0,3.0,2.985833
4,2954,type_C,23,525,304,1828,160,246,221.0,1623.0,1.0,3.0,2.009470

看两者是否算相关要看两方面：显著水平以及相关系数

（1）显著水平,就是P值,这是首要的,因为如果不显著,相关系数再高也没用,可能只是因为偶然因素引起的,那么多少才算显著,一般p值小于0.05就是显著了；如果小于0.01就更显著；例如p值=0.001,就是很高的显著水平了,只要显著,就可以下结论说：拒绝原假设无关,两组数据显著相关也说两者间确实有明显关系.通常需要p值小于0.1,最好小于0.05设甚至0.01,才可得出结论：两组数据有明显关系,如果p=0.5,远大于0.1,只能说明相关程度不明显甚至不相关.起码不是线性相关.

（2）相关系数,也就是Pearson Correlation(皮尔逊相关系数),通常也称为R值,在确认上面指标显著情况下,再来看这个指标,一般相关系数越高表明两者间关系越密切.
R>0 代表连个变量正相关,即一个变大另一个随之变大




如何理解皮尔逊相关系数（Pearson Correlation Coefficient）？

https://www.zhihu.com/question/19734616/answer/174098489

In [30]:
print("feature   correlation    P-value")
print("C0:    ", pearsonr(trainSet['C0'].values, trainSet['C13'].values))
for i in columnsName[2:]:
    print(i + ":    ", pearsonr(trainSet[i].values, trainSet['C13'].values))

feature   correlation    P-value
C0:     (-0.1367228801231376, 5.6128076980813327e-199)
C2:     (-0.010606971574000507, 0.020132146981624768)
C3:     (-0.020491007131788752, 7.13204838678767e-06)
C4:     (-0.018251452638581255, 6.3631684408671407e-05)
C5:     (0.060864948512591527, 1.2353251190166544e-40)
C6:     (0.033848102804751375, 1.1918967614351947e-13)
C7:     (-0.003857965644441051, 0.39798854401833916)
C8:     (0.0096253273294879434, 0.034962065531650773)
C9:     (0.14238764472723386, 8.4129813312857441e-216)
C10:     (0.048925696083644915, 7.7496877848978146e-27)
C11:     (0.050970941935891474, 5.4572580679401273e-29)
C12:     (-0.010848298342236428, 0.017465868226132608)
C13:     (1.0, 0.0)

测试结果表明，这些特征还是都还是比较相关的，所以这些特征还是比较线性相关的，因此可以不用删除特征。特征也不多现在。。

In [31]:
from scipy.stats import chi2_contingency

?chi2_contingency