In [28]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
import pdir as pr
import pandas as pd
import os
from tqdm import tqdm, tnrange, tqdm_notebook

DF = pd.DataFrame
arr = np.array

import csv

# 读取TF矩阵与word2vec矩阵

In [29]:
dirPath = "E:\\Code\\_largeData\\Github--Open-Course-Learning--A04\\Project\\multiclass classification\\data preprocessed\\tf-idf"
dirPath2 = "E:\\Code\\_largeData\\Github--Open-Course-Learning--A04\\Project\\multiclass classification\\data preprocessed\\wordvec_6B_50d - TA version" 
# dirPath += "\\without removing stopwords"

In [30]:
# train_tf = np.loadtxt(dirPath + '\\train_tf.csv', delimiter=",")
# test_tf = np.loadtxt(dirPath + '\\test_tf.csv', delimiter=",")

train_tf = pd.read_csv(dirPath + '\\train_tf.csv')
test_tf = pd.read_csv(dirPath + '\\test_tf.csv')

train_tf.shape, test_tf.shape

((6060, 1644), (8671, 1644))

In [31]:
train_tf.head()

,good,-rrb-,place,-lrb-,food,like,great,one,really,time,...,compare,culinary,management,pizzeria,steamed,wear,pictures,fault,fondue,shake
0,0.018359,0.011807,0.000000,0.012610,0.010593,0.024718,0.000000,0.014807,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.034818,0.022393,0.036573,0.000000,0.040181,0.000000,0.024525,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.018286,0.000000,0.040181,0.023440,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.039357,0.032140,0.042032,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.015151,0.000000,0.000000,0.058264,0.000000,0.000000,0.0,0.025669,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
all_word_unique = train_tf.columns
len(all_word_unique)

1644

In [33]:
word2vec = pd.read_csv(dirPath2 + "\\wordvec_6B_50d.txt", header = None, delimiter=" ",
                       quoting=csv.QUOTE_NONE, encoding='utf-8')

In [34]:
word2vec.shape

(400000, 51)

In [35]:
word2vec.head(5)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,the,0.418000,0.249680,-0.41242,0.12170,0.34527,-0.044457,-0.49688,-0.17862,-0.00066,...,-0.298710,-0.157490,-0.347580,-0.045637,-0.44251,0.187850,0.002785,-0.184110,-0.115140,-0.78581
1,",",0.013441,0.236820,-0.16899,0.40951,0.63812,0.477090,-0.42852,-0.55641,-0.36400,...,-0.080262,0.630030,0.321110,-0.467650,0.22786,0.360340,-0.378180,-0.566570,0.044691,0.30392
2,.,0.151640,0.301770,-0.16763,0.17684,0.31719,0.339730,-0.43478,-0.31086,-0.44999,...,-0.000064,0.068987,0.087939,-0.102850,-0.13931,0.223140,-0.080803,-0.356520,0.016413,0.10216
3,of,0.708530,0.570880,-0.47160,0.18048,0.54449,0.726030,0.18157,-0.52393,0.10381,...,-0.347270,0.284830,0.075693,-0.062178,-0.38988,0.229020,-0.216170,-0.225620,-0.093918,-0.80375
4,to,0.680470,-0.039263,0.30186,-0.17792,0.42962,0.032246,-0.41376,0.13228,-0.29847,...,-0.094375,0.018324,0.210480,-0.030880,-0.19722,0.082279,-0.094340,-0.073297,-0.064699,-0.26044

# 去除没有在word2vec的词语

In [36]:
index = word2vec[0] == all_word_unique[0]
for i in all_word_unique[1:]:
    index |=  word2vec[0] == i
index

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16         True
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
399970    False
399971    False
399972    False
399973    False
399974    False
399975    False
399976    False
399977    False
399978    False
399979    False
399980    False
399981    False
399982    False
399983    False
399984    False
399985    False
399986    False
399987    False
399988    False
399989    False
399990    False
399991    False
399992    False
399993    False
399994    False
399995    False
399996    False
399997    False
399998    False
399999    False
Name: 0, dtype: bool

In [37]:
Counter(index)

Counter({False: 398362, True: 1638})

In [38]:
word2vec2 = word2vec[index]
word2vec2.shape
word2vec2.head()

(1638, 51)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
16,said,0.38973,-0.21210,0.518370,0.801360,1.03360,-0.277840,-0.84525,-0.253330,0.12586,...,-0.46297,1.318600,0.327050,-0.73446,0.893010,-0.453240,-1.26980,0.861190,0.141500,1.20180
48,one,0.31474,0.41662,0.134800,0.158540,0.88812,0.433170,-0.55916,0.030476,-0.14623,...,-0.15556,0.308180,-0.093586,0.33296,-0.146130,0.016332,-0.24251,-0.205260,0.070090,-0.11568
50,new,0.19511,0.50739,0.001471,0.041914,-0.16759,0.037517,-1.39700,-0.923980,-0.24296,...,-0.27055,0.060425,0.095107,-0.23679,-0.086108,1.024300,-0.22779,0.030488,-0.142720,0.45411
55,two,0.58289,0.36258,0.340650,0.364160,0.34337,0.793870,-0.93620,0.114320,-0.63005,...,-0.54738,0.152440,0.410000,0.15702,0.007794,-0.015106,-0.28653,-0.161580,-0.351690,-0.82555
58,first,-0.14168,0.41108,-0.312270,0.166330,0.26124,0.457080,-1.20010,0.014923,-0.22779,...,-0.14998,-0.277230,-0.466580,-0.44268,-0.436910,0.384550,0.13690,-0.254240,0.017821,-0.14890

In [39]:
t = set(all_word_unique).difference(set(list(word2vec2[0].values)))
t

{'-lrb-', '-rrb-', 'delish', 'guac', 'phx', 'yelpers'}

TA给的数据少了这几个词。那么为了兼容，需要去除这些词，TF矩阵要修改。

In [40]:
train_tf.shape
train_tf.drop(t, axis=1, inplace=True)
train_tf.shape

(6060, 1644)

(6060, 1638)

In [41]:
test_tf.shape
test_tf.drop(t, axis=1, inplace=True)
test_tf.shape

(8671, 1644)

(8671, 1638)

# 按照词语排序
由于要根据词语进行矩阵的对应乘法，这里要将所有数据对应排列好。

In [42]:
word2vec3 = word2vec2.sort_values([0],ascending=True).reset_index(drop=True)
word2vec3.shape
word2vec3.head(10)

(1638, 51)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,--,0.498060,1.238200,0.86976,0.002529,-0.56263,-0.387810,-0.47155,-0.957170,-0.123140,...,-0.924910,1.520500,0.810550,0.059992,0.836290,0.171340,-0.526200,-0.157500,0.174090,0.10790
1,/,-0.499350,1.475900,0.89591,0.864800,-0.71297,-0.056885,0.14008,-1.817900,-0.246480,...,1.574700,0.160610,0.674240,-0.953330,0.638840,0.494900,0.602750,0.068522,0.677290,0.71499
2,able,0.864540,-0.390890,0.98069,-0.433110,0.54404,-0.316480,-0.32186,0.832060,-0.053605,...,0.050596,-0.215260,0.402560,0.326370,0.069126,-0.048120,0.178840,-0.138790,-0.225270,0.23315
3,absolutely,0.365820,-0.439750,-0.35016,0.096443,0.99511,-0.161160,0.50959,0.297730,-0.099699,...,-0.000256,-0.478440,0.183160,0.256340,-0.289930,0.329920,-1.101100,0.868700,0.686870,0.96048
4,accommodating,0.684430,0.178750,0.13739,-1.012300,0.32028,-0.250790,0.56531,-0.173910,-0.414580,...,-0.070533,-0.268600,0.851200,1.063300,-0.193460,-0.187170,-0.506470,0.328510,-0.361410,0.42840
5,across,0.523600,-0.020293,0.26881,-0.484250,-0.54396,-0.461810,-0.90864,-0.329930,0.627310,...,-0.564290,0.481730,0.388640,0.038322,-0.210970,0.140940,0.146370,-0.914320,-0.615700,-1.31120
6,actual,0.508210,0.364630,0.10179,-0.087690,0.76352,0.458140,0.37515,-0.123200,0.395520,...,-0.240840,-0.370010,-0.062719,0.383100,-0.565100,-0.848000,0.556210,0.578850,0.340660,0.22470
7,actually,0.420790,-0.127380,0.36681,-0.572930,0.73362,0.417580,-0.41780,-0.091456,-0.215470,...,-0.393190,-0.093921,0.062569,0.297270,-0.127810,-0.256530,-0.018763,-0.259300,-0.023835,0.52329
8,add,-0.036357,0.422480,0.27717,0.146910,0.35807,0.061560,0.39441,0.010002,-0.301520,...,0.910270,0.266490,0.292730,-0.164580,0.169010,1.477500,0.680400,0.529650,-0.312120,0.42680
9,added,-0.171030,0.217030,0.31748,0.479150,1.10860,-0.069950,-0.57346,-0.473570,-0.485320,...,0.112050,0.397420,0.218510,-0.465910,0.206790,0.016375,-0.362960,0.641380,0.366590,0.41078

In [43]:
train_tf2 = train_tf.sort_index(axis=1, ascending=True)
train_tf2.shape
train_tf2.head(1)

(6060, 1638)

,--,/,able,absolutely,accommodating,across,actual,actually,add,added,...,years,yellow,yelp,yes,yesterday,yet,yogurt,young,yum,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
test_tf2 = test_tf.sort_index(axis=1, ascending=True)
test_tf2.shape
test_tf2.head(1)

(8671, 1638)

,--,/,able,absolutely,accommodating,across,actual,actually,add,added,...,years,yellow,yelp,yes,yesterday,yet,yogurt,young,yum,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.030303,0.0,0.0,0.030303

# 准备进行矩阵乘法

In [45]:
word2vec2.shape
word2vec2.drop([0], axis=1, inplace=True)
word2vec2.shape

(1638, 51)

E:\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

(1638, 50)

In [46]:
word2vec_arr = arr(word2vec2.values)
word2vec_arr.shape
word2vec_arr[0]

(1638, 50)

array([ 0.38973  , -0.2121   ,  0.51837  ,  0.80136  ,  1.0336   ,
       -0.27784  , -0.84525  , -0.25333  ,  0.12586  , -0.90342  ,
        0.24975  ,  0.22022  , -1.2053   , -0.53771  ,  1.0446   ,
        0.62778  ,  0.39704  , -0.15812  ,  0.38102  , -0.54674  ,
       -0.44009  ,  1.0976   ,  0.013069 , -0.89971  ,  0.41226  ,
       -2.2309   ,  0.28997  ,  0.32175  , -0.72738  , -0.092244 ,
        3.028    , -0.062599 ,  0.038329 ,  0.0072918, -0.35388  ,
       -0.92256  ,  0.097932 ,  0.10068  ,  1.2116   ,  0.88233  ,
       -0.46297  ,  1.3186   ,  0.32705  , -0.73446  ,  0.89301  ,
       -0.45324  , -1.2698   ,  0.86119  ,  0.1415   ,  1.2018   ])

In [47]:
train_w2v = np.dot(train_tf2.values, word2vec_arr)
test_w2v = np.dot(test_tf2.values, word2vec_arr)

train_w2v.shape, test_w2v.shape

((6060, 50), (8671, 50))

# 划分数据集

In [48]:
#划分比例
splitRate = 0.3
#划分的数目
splitNum = int(train_w2v.shape[0]*splitRate) 
#得到 训练集 和验证集
trainSet_w2v = train_w2v[:-splitNum]
validateSet_w2v = train_w2v[-splitNum:]

trainSet_w2v.shape, validateSet_w2v.shape

((4242, 50), (1818, 50))

In [50]:
dirPath3 = dirPath2 #+"\\without removing stopwords"

if not os.path.exists(dirPath3):
    os.makedirs(dirPath3)

np.savetxt(dirPath3 + '\\train.csv', trainSet_w2v, delimiter=",")
np.savetxt(dirPath3 + '\\validate.csv', validateSet_w2v, delimiter=",")
np.savetxt(dirPath3 + '\\test.csv', test_w2v, delimiter=",")