In [67]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
import pdir as pr
import pandas as pd
import os
from tqdm import tqdm, tnrange, tqdm_notebook

DF = pd.DataFrame
arr = np.array

import re
import string
import operator

# 读取数据集

In [68]:
def loadDataSet(filePath):
    articles, labels = [], []
    with open(filePath, 'r', encoding="utf-8") as f:
        for line in f.readlines():
            part = line.split("\t")
            #这里已经将标签转换为大写，数据转换成小写了
            label, article = part[0].upper().strip(), part[2].lower().replace("<sssss>", " ").strip().split(" ")
            articles.append(article)
            labels.append(label)
    return articles, labels
        

train_articles, train_labels = loadDataSet(".\\data\\MulLabelTrain.ss")
test_articles, test_labels = loadDataSet(".\\data\\MulLabelTest.ss")

len(train_articles), len(test_articles)

(62522, 8671)

In [69]:
print(train_articles[0], "\n\n", train_labels[0])

['we', 'went', 'on', 'a', 'sunday', 'around', '11am', 'we', 'got', 'seated', 'right', 'away', '.', '', '', 'the', 'menu', 'is', 'trying', 'to', 'be', 'like', 'a', 'new-american', 'style', 'type', 'of', 'menu', '.', '', '', 'i', 'ordered', 'chicken', 'and', 'waffles', 'and', 'the', 'bo', 'ordered', 'a', 'breakfast', 'burrito', '.', '', '', 'our', 'meals', 'took', 'around', '25', 'minutes', 'to', 'come', 'out', 'and', 'my', 'boyfriend', 'even', 'commented', 'saying', 'how', 'all', 'the', 'people', 'sitting', 'next', 'to', 'us', 'no', 'one', 'had', 'a', 'plate', 'in', 'front', 'of', 'them', '.', '', '', 'sunday', 'must', 'have', 'been', 'a', 'new', 'employee', 'training', 'day', 'because', 'there', 'was', 'so', 'many', 'kids', 'wandering', 'around', 'and', 'around', 'the', 'restaurant', 'with', 'no', 'real', 'task', 'at', 'hand', '.', '', '', 'the', 'coffee', '...', 'the', 'coffee', 'was', 'good', '.', '', '', 'then', ',', 'finally', 'our', 'food', 'came', 'out', '.', '', '', 'my', 'chicken', 'was', 'good', 'and', 'it', 'was', 'a', 'baked', 'chicken', 'breast', 'breaded', '.', '', '', 'my', 'waffle', 'was', 'half', 'a', 'waffle', '.', '', '', 'two', 'pieces', 'came', 'out', 'and', 'they', 'were', 'toasted', 'cajun', 'style', '-lrb-', 'like', 'a', 'brick', '-rrb-', 'i', 'think', 'they', 'were', 'seasoned', 'with', 'a', 'pepper', 'or', 'something', 'too', '?', '', '', 'my', 'scrambled', 'eggs', 'came', 'out', 'already', 'mixed', 'with', 'syrup', '.', '', '', 'boy', "'s", 'burrito', 'came', 'out', 'on', 'a', 'green', 'pita', 'wrap', 'tortilla', 'and', 'carne', 'mixed', 'with', 'eggs', 'and', 'some', 'avocado', 'on', 'the', 'side', '.', '', '', 'the', '``', 'carne', "''", 'or', 'meat', 'had', 'a', 'lot', 'of', 'fat', 'on', 'it', '.', '', '', 'breakfast', 'was', '$', '30', '.', '', '', 'i', 'wont', 'be', 'back', '.']

 LOW

# 去除停用词

In [70]:
stopwords = []
with open(".\\data\\stopwords-en.txt", "r", encoding='utf-8') as f:
    for i in f.readlines():
        stopwords.append(i.lower().strip())
        
len(stopwords)
print(stopwords[0:100])

922

['', "''", '``', '$', '?', '...', '●', '-', '–', '*', '.', ',', ':', '0', '1', '2', ')', '(', '/', '3', '4', '5', '6', ';', '7', '8', '9', '’', '“', "'d", "'ll", "'m", "'re", "'s", "'t", "'ve", 'zt', 'zz', 'a', 'our', 'yours', "a's", 'able', 'about', 'above', 'abst', 'accordance', 'according', 'accordingly', 'across', 'act', 'actually', 'added', 'adj', 'adopted', 'affected', 'affecting', 'affects', 'after', 'afterwards', 'again', 'against', 'ah', "ain't", 'all', 'allow', 'allows', 'almost', 'alone', 'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'an', 'and', 'announce', 'another', 'any', 'anybody', 'anyhow', 'anymore', 'anyone', 'anything', 'anyway', 'anyways', 'anywhere', 'apart', 'apparently', 'appear', 'appreciate', 'appropriate', 'approximately', 'are', 'area', 'areas', 'aren']

In [71]:
train_articles_backup = train_articles
test_articles_backup = test_articles

In [72]:
def remove_stopwords(articles):
    new_articles = []
    for article in articles:
        new_articles.append([j  for j in article if j not in stopwords and len(j)>1])
    return new_articles

train_articles = remove_stopwords(train_articles_backup)
test_articles = remove_stopwords(test_articles_backup)

In [73]:
print(train_articles[0])
print(test_articles[0])

['sunday', '11am', 'seated', 'menu', 'new-american', 'style', 'type', 'menu', 'chicken', 'waffles', 'bo', 'breakfast', 'burrito', 'meals', '25', 'minutes', 'boyfriend', 'commented', 'people', 'sitting', 'plate', 'front', 'sunday', 'employee', 'training', 'day', 'kids', 'wandering', 'restaurant', 'real', 'task', 'hand', 'coffee', 'coffee', 'finally', 'food', 'chicken', 'baked', 'chicken', 'breast', 'breaded', 'waffle', 'half', 'waffle', 'pieces', 'toasted', 'cajun', 'style', '-lrb-', 'brick', '-rrb-', 'seasoned', 'pepper', 'scrambled', 'eggs', 'mixed', 'syrup', 'boy', 'burrito', 'green', 'pita', 'wrap', 'tortilla', 'carne', 'mixed', 'eggs', 'avocado', 'carne', 'meat', 'lot', 'fat', 'breakfast', '30', 'wont']
['love', 'mojo', 'evil', 'treat', 'flavors', 'yummy', 'minor', 'downfall', 'mix-ins', 'hard', 'reach', 'girl', 'literally', 'head', 'bar', 'grossed', 'idea', 'aka', 'human', 'debris', 'hair', 'yogurt']

# 去除高频词和低频词得到所有词列表

In [75]:
all_word_train_mix = [j for i in train_articles for j in i]
all_word_test_mix = [j for i in test_articles for j in i]

len(all_word_train_mix), len(all_word_test_mix)

(3461195, 475782)

In [125]:
all_word_mix = all_word_train_mix + all_word_test_mix
len(all_word_mix)

3936977

In [143]:
#根据Counter统计的词频初始化df
df = DF.from_dict(Counter(all_word_mix), orient='index').reset_index()
#根据count值降序排序
df = df.rename(columns={'index':'words',
                              0:'count'}).sort_values(["count"],ascending=False).reset_index(drop=True) 
df

                               words  count
0                              -rrb-  57854
1                              -lrb-  52751
2                               food  50410
3                               time  28683
4                            service  23633
5                               love  19774
6                               nice  18475
7                               menu  18262
8                             pretty  16828
9                                bar  16221
10                           chicken  15716
11                        restaurant  14619
12                            cheese  14202
13                            people  13959
14                             lunch  13323
15                             night  13036
16                         delicious  12970
17                             salad  12699
18                             pizza  12444
19                             happy  11818
20                             sauce  11753
21                             fresh  11173
22                               eat  10330
23                              wait  10269
24                             table  10252
25                               bit  10237
26                          friendly   9957
27                              meal   9661
28                              hour   9632
29                            dinner   9540
...                              ...    ...
95940                     medium-hot      1
95941                       amateure      1
95942                    interupting      1
95943                          spang      1
95944                    plaza-style      1
95945                   dessert-like      1
95946                    or.dominoes      1
95947                     self-image      1
95948        other/boyfriend/husband      1
95949                      telepathy      1
95950              5-star-review-bar      1
95951                  me-really-for      1
95952                            +43      1
95953                         ?!!?!?      1
95954                     greenbacks      1
95955                       buslines      1
95956                       marjerle      1
95957                       vigorish      1
95958              johny-on-the-spot      1
95959                      room-like      1
95960                      early-60s      1
95961                     urbanspoon      1
95962                    blackstreet      1
95963                         dayumn      1
95964  www.tradicionesrestaurant.com      1
95965                         fawkes      1
95966                      notecards      1
95967             highly-recommended      1
95968                          royce      1
95969                       co-chair      1

[95970 rows x 2 columns]

In [141]:
low, high = 500, 50000
df2 = df[low <= df['count']]
df2 = df2[df2['count'] <= high].reset_index(drop=True) 
df2.shape
df2

(1334, 2)

              words  count
0              time  28683
1           service  23633
2              love  19774
3              nice  18475
4              menu  18262
5            pretty  16828
6               bar  16221
7           chicken  15716
8        restaurant  14619
9            cheese  14202
10           people  13959
11            lunch  13323
12            night  13036
13        delicious  12970
14            salad  12699
15            pizza  12444
16            happy  11818
17            sauce  11753
18            fresh  11173
19              eat  10330
20             wait  10269
21            table  10252
22              bit  10237
23         friendly   9957
24             meal   9661
25             hour   9632
26           dinner   9540
27           drinks   9528
28              day   9347
29            times   8877
...             ...    ...
1304          stage    513
1305             dj    513
1306        relaxed    513
1307           team    513
1308          sizes    511
1309          shell    511
1310        sampled    511
1311  accommodating    511
1312         played    510
1313        learned    509
1314       spending    509
1315        sharing    507
1316          peach    506
1317         diners    506
1318            ???    506
1319        dropped    505
1320        compare    504
1321       culinary    504
1322         buying    504
1323          stood    504
1324     management    503
1325       pizzeria    503
1326           wear    502
1327          fault    502
1328       pictures    502
1329        steamed    502
1330          shake    501
1331         fondue    501
1332          cards    500
1333          miles    500

[1334 rows x 2 columns]

In [167]:
df3 = df2.drop(["count"], axis=1)
df3.head(20)

         words
0         time
1      service
2         love
3         nice
4         menu
5       pretty
6          bar
7      chicken
8   restaurant
9       cheese
10      people
11       lunch
12       night
13   delicious
14       salad
15       pizza
16       happy
17       sauce
18       fresh
19         eat

## 去除数字以及其他无用词汇

In [159]:
# df3.to_csv("temp.csv")

In [190]:
df3.shape
df4 = df3["words"].apply(lambda x: re.sub("[0-9||\.||\?||!]*", "", x))
df4 = df4[df4 != ""]
df4.shape

(1334, 1)

(1316,)

In [189]:
all_word_unique = df4.values
all_word_unique

array(['time', 'service', 'love', ..., 'fondue', 'cards', 'miles'], dtype=object)

## 测试-1

检查训练集和测试集的词的不重复数

In [113]:
all_word_train = set(all_word_train_mix)
all_word_test = set(all_word_test_mix)

len(all_word_train), len(all_word_test), (len(all_word_train) - len(all_word_test))

diff1 = all_word_train.difference(all_word_test)
diff2 = all_word_test.difference(all_word_train)

print("number of words in train but not in test: ", len(diff1))
print("number of words in test but not in train: ", len(diff2))

all_word = all_word_train.union(all_word_test)
len(all_word)

(89453, 31612, 57841)

number of words in train but not in test:  64358
number of words in test but not in train:  6517

95970

## 测试-2
检查词频分布

In [129]:
def show_common_word_rate(lst, k):
    word_counter = Counter(lst)
    cnt = 0
    tot_cnt = len(lst)
    common_pair = word_counter.most_common(k)
    for key, val in common_pair:
        cnt += val
    print("max frequent word and count: ", common_pair[0])
    print("min frequent word and count: ", common_pair[-1])
    print("frequent word count: ", cnt)
    print("total word count: ", tot_cnt)
    print("remain word count: ", tot_cnt-cnt)
    print("rate:%.5f%%" % (cnt/tot_cnt*100))

#测试
#show_common_word_rate([1,2,3,4,2,2], 2)
show_common_word_rate(all_word_mix, 500)
show_common_word_rate(all_word_mix, 50000)

max frequent word and count:  ('-rrb-', 57854)
min frequent word and count:  ('cocktails', 1404)
frequent word count:  1996109
total word count:  3936977
remain word count:  1940868
rate:50.70157%
max frequent word and count:  ('-rrb-', 57854)
min frequent word and count:  ('candeliar', 1)
frequent word count:  3891007
total word count:  3936977
remain word count:  45970
rate:98.83235%

# 得到TF-IDF矩阵

In [199]:
def getTF(dataSet, allWords):
    '''得到输入数据集的TF矩阵'''
    def safeDivide(a, b):
        return a/b if b!=0 else 0
    
    TF=[]
    for index in tnrange(len(dataSet)):
        TF.append([])
        wordCounter = Counter(dataSet[index])
        for word in allWords:
            TF[index].append(safeDivide(wordCounter.get(word,0), len(dataSet[index])))
    return arr(TF)

train_TF = getTF(train_articles, all_word_unique)
test_TF = getTF(test_articles, all_word_unique)

train_TF.shape, test_TF.shape

((62522, 1316), (8671, 1316))

In [220]:
dirPath = "data preprocessed\\tf-idf"
if not os.path.exists(dirPath):
    os.makedirs(dirPath)

DF(train_TF).to_csv(dirPath + '\\train_tf.csv', index=False, header=False)
DF(test_TF).to_csv(dirPath + '\\test_tf.csv', index=False, header=False)
DF(all_word_unique).to_csv(dirPath + '\\all_word_unique.csv', index=False, header=False)

这里需要注意，有一些样本去掉停用词后整个都没有数据了，这时候就默认TF那一列都为0了。

In [200]:
train_articles[5773]

[]

In [205]:
import math

def getIDF(dataSet, allWords):
    '''得到输入数据集的IDF矩阵'''
    def calcIDF(num):
        '''计算对应数据集的单词的IDF值'''
        return math.log(len(dataSet)/(1+num), 2)
    
    IDF=[]
    for i in tnrange(len(allWords)):
        cnt = 0
        #计算词在每个文档出现的次数
        for doc in dataSet: 
            if allWords[i] in doc:
                cnt += 1
        IDF.append(calcIDF(cnt))
    return arr(IDF)

train_IDF = getIDF(train_articles, all_word_unique)
test_IDF = getIDF(test_articles, all_word_unique)

train_IDF.shape, test_IDF.shape

((1316,), (1316,))

In [206]:
train_TFIDF = train_TF * train_IDF
test_TFIDF = test_TF * test_IDF

train_TFIDF.shape, test_TFIDF.shape

((62522, 1316), (8671, 1316))

## 划分数据集

In [208]:
#划分比例
splitRate = 0.3
#划分的数目
splitNum = int(train_TFIDF.shape[0]*splitRate) 
#得到 训练集 和验证集
trainSet = train_TFIDF[:-splitNum]
validateSet = train_TFIDF[-splitNum:]

trainSet.shape, validateSet.shape

((43766, 1316), (18756, 1316))

In [210]:
train_labels = arr(train_labels)
test_labels = arr(test_labels)

trainSetLabel = train_labels[:-splitNum]
validateSetLabel = train_labels[-splitNum:]

trainSetLabel.shape, validateSetLabel.shape

((43766,), (18756,))

In [218]:
DF(trainSetLabel[0:20]).replace("LOW",0).replace("MID",1).replace("HIG",2)

    0
0   0
1   2
2   0
3   2
4   0
5   0
6   1
7   1
8   0
9   0
10  1
11  0
12  1
13  0
14  0
15  2
16  0
17  1
18  0
19  0

## 保存结果

In [212]:
dirPath = "data preprocessed\\tf-idf"
if not os.path.exists(dirPath):
    os.makedirs(dirPath)

DF(trainSet).to_csv(dirPath + '\\train.csv', index=False, header=False)
DF(validateSet).to_csv(dirPath + '\\validate.csv', index=False, header=False)
DF(test_TFIDF).to_csv(dirPath + '\\test.csv', index=False, header=False)

输出标签映射为数字。

In [219]:
trainSetLabel = DF(trainSetLabel).replace("LOW",0).replace("MID",1).replace("HIG",2)
validateSetLabel = DF(validateSetLabel).replace("LOW",0).replace("MID",1).replace("HIG",2)

DF(trainSetLabel).to_csv(dirPath + '\\train_label.csv', index=False, header=False)
DF(validateSetLabel).to_csv(dirPath + '\\validate_label.csv', index=False, header=False)