In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
import pdir as pr
import pandas as pd
import os
from tqdm import tqdm, tnrange, tqdm_notebook

DF = pd.DataFrame
arr = np.array

# 读取训练集和测试集

In [2]:
dirPath = "data preprocessed - step 1"
trainSet_origin = pd.read_csv(dirPath + '\\train.csv')
testSet_origin = pd.read_csv(dirPath + '\\test.csv')

trainSet_origin.shape, testSet_origin.shape

((16637, 9), (742, 9))

In [3]:
trainSet_origin.head()
testSet_origin.head()

   instant    dteday hr weathersit  temp   atemp hum windspeed  cnt
0        1  2011/1/1  0          1  9.84  14.395  81         0   16
1        2  2011/1/1  1          1  9.02  13.635  80         0   40
2        3  2011/1/1  2          1  9.02  13.635  80         0   32
3        4  2011/1/1  3          1  9.84  14.395  75         0   13
4        5  2011/1/1  4          1  9.84  14.395  75         0    1

   instant     dteday  hr  weathersit   temp   atemp  hum  windspeed cnt
0    16638  2012/12/1   0           1  10.66  15.150   81     0.0000   ?
1    16639  2012/12/1   1           1  10.66  15.150   81     0.0000   ?
2    16640  2012/12/1   2           2  10.66  15.150   81     0.0000   ?
3    16641  2012/12/1   3           2  10.66  13.635   81     8.9981   ?
4    16642  2012/12/1   4           1  10.66  14.395   81     6.0032   ?

# 手动添加新特征

season holiday weekday workingday

用excel会比较方便

In [4]:
dirPath = "data preprocessed - step 2"
trainSet_origin2 = pd.read_csv(dirPath + '\\train.csv')
testSet_origin2 = pd.read_csv(dirPath + '\\test.csv')

trainSet_origin2.shape, testSet_origin2.shape

((16637, 13), (742, 13))

In [5]:
trainSet_origin2.head()
testSet_origin2.head()

,instant,dteday,hr,weathersit,temp,atemp,hum,windspeed,season,holiday,weekday,workingday,cnt
0,1,2011/1/1,0,1,9.84,14.395,81,0,1,0,6,0,16
1,2,2011/1/1,1,1,9.02,13.635,80,0,1,0,6,0,40
2,3,2011/1/1,2,1,9.02,13.635,80,0,1,0,6,0,32
3,4,2011/1/1,3,1,9.84,14.395,75,0,1,0,6,0,13
4,5,2011/1/1,4,1,9.84,14.395,75,0,1,0,6,0,1

,instant,dteday,hr,weathersit,temp,atemp,hum,windspeed,season,holiday,weekday,workingday,cnt
0,16638,2012/12/1,0,1,10.66,15.150,81,0.0000,4,0,6,0,?
1,16639,2012/12/1,1,1,10.66,15.150,81,0.0000,4,0,6,0,?
2,16640,2012/12/1,2,2,10.66,15.150,81,0.0000,4,0,6,0,?
3,16641,2012/12/1,3,2,10.66,13.635,81,8.9981,4,0,6,0,?
4,16642,2012/12/1,4,1,10.66,14.395,81,6.0032,4,0,6,0,?

处理后的结果多个4个特征。